@{
    ViewData["Title"] = "Liked";
}

@model List<string>


<table class="table">
    <thead>
    <tr>
        <th scope="col" class="col-xs-12">LINK</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var url in Model)
    {
        <tr>
            <td><a href="@url" target="_blank">@url</a></td>
        </tr>
    }
    </tbody>
</table>