@{
    ViewData["Title"] = "Home Page";
}

@model List<string>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="col-xs-9">LINK</th>
            <th scope="col" class="col-xs-3">Blacklist</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var url in Model)
        {
            <tr>
                <td><a href="@url" target="_blank">@url</a></td>
                <td><button type="button" class="btn btn-danger" onclick="addToBlackList('@url');">remove</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>