
<table class="table">
    <thead>
    <tr>
        <th scope="col" class="col-xs-8">LINK</th>
        <th scope="col" class="col-xs-2">Blacklist</th>
        <th scope="col" class="col-xs-2">Whitelist</th>
    </tr>
    </thead>
    <tbody id="resultsTbody">
    </tbody>
</table>