<?xml version="1.0" encoding="UTF-8"?>
<!-- THIS CONFIG FILE IS ADDED ONLY TO ALLOW STARTING APPLICATION UNDER IIS IN DEVELOPMENT -->
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false">
      <environmentVariables>
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>